@import 'reset.css';


body { background: #f6f9fc; display: flex; flex-direction: column; align-items: center; padding: 50px 0; }

.canvas { width: 500px; height: 500px; background: #fff; border-radius: 15px; box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%); }

.controls { margin-top: 80px; display: flex; flex-direction: column; align-items: center; }

.controls .controls__btns { margin-bottom: 30px; }
.controls .controls__btns button { all: unset; cursor: pointer; background: #fff; padding: 5px 0; width: 80px; text-align: center; border-radius: 5px; box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%); border: 2px solid rgba(0, 0, 0, 0.2); color: rgba(0, 0, 0, 0.7); font-weight: 800; font-size: 12px; }
.controls .controls__btns button:active { transform: scale(0.98); }

.controls .controls__colors { display: flex; }
.controls__colors .controls__color { width: 50px; height: 50px; border-radius: 50%; box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%); cursor: pointer; }

.controls .controls__range { margin-bottom: 20px; }